@import "./../../../../assets/styles/colors.scss";

main {
    text-align: center;
}

div#pokemon-filter-list {
    width: 50%;
    margin: 0 auto;
}

div#pokemon-table-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 67%;
    margin: 0 auto;

    div.pokemon-table-item {
        width: 400px;
        margin: 2em 2% 2em 2%;
    }
}

div#pokemon-table-title {
    margin: 2em;

    .text-lead {
        font-size: 0.9em;
        color: $grayDark;
        margin: 0;
    }

    h2 {
        color: $grayDark;
        margin: 0;
    }
}

@media (max-width: 2100px) {
    div#pokemon-table-list {
        width: 80%;
    }
}

@media (max-width: 1760px) {
    div#pokemon-table-list {
        width: 100%;
    }
}

@media (max-width: 600px) {
    img.pokemon-logo {
        width: 80%;
    }

    div#pokemon-filter-list {
        width: 70%;
    }
}
