<main>
    <img class="pokemon-logo"
        src="https://images.wikidexcdn.net/mwuploads/esssbwiki/thumb/7/77/latest/20111028181540/TituloUniversoPok%C3%A9mon.png/550px-TituloUniversoPok%C3%A9mon.png" />

    <div id="pokemon-table-title">
        <h2 class="bolder">
            Generation 1
        </h2>
        <p class="text-lead bold">151 Pokemons</p>
    </div>

    <app-pokemon-filter (searchActionEvent)="filter($event)"></app-pokemon-filter>

    <div id="pokemon-table-list" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">
        <div class="pokemon-table-item pointer" *ngFor="let pokemon of pokemonListService.pokemonsFiltered$ | async">
            <app-pokemon-preview [pokemon]="pokemon" (click)="goToPokemonDetail(pokemon.name)"></app-pokemon-preview>
        </div>
    </div>

</main>