@import "./../../../assets/styles/colors.scss";

.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;

    .btn-back {
        background: $grayDark;
        color: white;
        border-radius: 1em;

        &:hover {
            background: $slate;
            color: white;
            border-radius: 1em;
        }
    }
}
