<div id="pokemon-detail">
    <div class="pokemon-card rounded">
        <div class="card-buttons">
            <span class="bold pointer" (click)="closeDetail()">X</span>
        </div>
        <img [src]="pokemon.imgUrl" />
        <p class="bold capitalize">{{pokemon.name}}</p>

        <div id="pokemon-detail-description">
            <p>ID: <span class="bold">{{pokemon.id}}</span></p>
            <p>Type:</p>
            <ul>
                <li *ngFor="let type of pokemon.types">{{type}}</li>
            </ul>
            <p>Height: <span class="bold">{{pokemon.height}}</span></p>
            <p>Habilities:</p>
            <ul>
                <li *ngFor="let ability of pokemon.abilities">{{ability}}</li>
            </ul>
        </div>
    </div>
</div>