@import "colors";

* {
    font-family: Grotesque, Arial, Helvetica, sans-serif !important;
    font-weight: lighter;
    &:focus {
        outline: none !important;
    }
}

body {
    background-color: $background;
}

.pointer {
    cursor: pointer;
}

.rounded {
    border-radius: 0.3em;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.capitalize {
    text-transform: capitalize;
}
